@font-face {
  font-family: AvenirRegular;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirDemi;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
