@font-face {
  font-family: AvenirRegular;
  src: url("/Assets/Fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirDemi;
  src: url("/Assets/Fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("/Assets/Fonts/AvenirNextLTPro-Bold.otf");
}
