@import "./partials/fonts";
@import "./partials/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: AvenirRegular;
}

// So far the nav is mobile friendly
.nav__container {
  color: #fafafa;
  background: #323232;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: AvenirRegular;

  &-logo {
    padding-top: 15px;
    margin: 0;
  }

  &-items {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }

  &-bio,
  &-shows {
    width: 50%;

    text-decoration: none;
    padding-bottom: 0.75em;
    border-bottom: 5px solid transparent;
  }

  &-bio:hover,
  &-shows:hover {
    border-bottom: 5px solid white;
  }
}

// Now to make it tablet friendly
@media screen and (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    align-items: center;

    &-logo {
      padding-left: 24px;
      align-items: center;
      padding-top: 0px;
    }
    &-items {
      justify-content: flex-start;
      align-self: center;
    }
    &-bio,
    &-shows {
      padding-bottom: 1.5em;
      align-self: center;
      padding: 1.75em 0;
      width: auto;
      margin-left: 48px;
    }
  }
}

// Now to make it desktop friendly
@media screen and (min-width: 1024px) {
  .nav__container {
    flex-direction: row;
    align-items: center;

    &-logo {
      padding-left: 180px;

      align-self: center;
    }
    &-items {
      justify-content: flex-start;
    }
    &-bio,
    &-shows {
      padding-bottom: 1.5em;
      align-self: center;
      padding: 1.75em 0;
      width: auto;
      margin-left: 56px;
    }
  }
}

// The hero image for mobile
.hero {
  height: 183px;
  width: 100%;
  background-image: url("/Assets/Images/hero.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;

  &__artists {
    color: white;
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    align-self: center;
    height: auto;
    font-family: AvenirRegular;
  }
}

.about {
  margin: 32px 16px 24px 16px;
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirBold;
}

.artist-image {
  // max-width: 288px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// For tablet
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  &__artists {
    margin-left: 24px;
    font-size: 60px;
    line-height: 68px;
  }
  .about {
    margin-left: 24px;
    font-size: 36px;
    line-height: 44px;
  }
  .artist-image {
    height: auto;
  }
}

// For desktop
@media screen and (min-width: 1024px) {
  .hero {
    height: 670px;
  }
  &__artists {
    margin-left: 180px;
    font-size: 60px;
    line-height: 68px;
  }
  .about {
    margin-top: 48px;
    margin-left: 180px;
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirBold;
  }

  .artist-image {
    // height: 450px;
    width: 896px;
    margin-top: 48px;
  }
}

// The text view mobile friendly
.text {
  margin: 24px 16px 40px 16px;
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirDemi;

  &__quote {
    margin-bottom: 32px;
  }
}

.bio {
  // font-size: 13px;
  // line-height: 18px;
  // margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.bio-title {
  font-family: AvenirBold;
  font-size: 14px;
  line-height: 22px;
}

// The text view on tablet
@media screen and (min-width: 768px) {
  .text,
  .bio {
    font-size: 24px;
    line-height: 32px;
    margin-left: 24px;
    margin-right: 24px;
  }
  &__quote {
    font-family: AvenirBold;

    &-author {
      font-family: AvenirDemi;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// The text view on desktop
@media screen and (min-width: 1024px) {
  .text,
  .bio {
    margin: 48px 262px 56px 262px;
  }
  &__quote {
    margin-bottom: 40px;
  }
  &-author {
    margin-bottom: 56px;
  }
}

//for the block text title
#bio-title {
  margin-bottom: 24px;
}

//For the paragraph blocks on mobile
.bio {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 18px;

  &__paragraphs-one {
    margin-bottom: 40px;
  }
}

//NOT SURE HOW TO INCLUDE THAT SPACE
@media screen and (min-width: 768px) {
  .bio__paragraphs {
    display: flex;
  }
}

// photo gallert for mobile

.gallery__title {
  font-size: 24px;
  line-height: 32px;
  margin: 32px 16px 24px 16px;
}

.gallery__image1 {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

//Now the photo gallery on des
