@import "../styles/partials/fonts";

@import "../styles/partials/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// So far the nav bar is mobile friendly
.nav__container {
  color: $mercury;
  background: $black;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: AvenirRegular;

  &-logo {
    padding-top: 15px;
    margin: 0;
  }

  &-items {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }

  &-bio,
  &-shows {
    width: 50%;

    text-decoration: none;
    padding-bottom: 0.75em;
    border-bottom: 5px solid transparent;
  }

  // Hover effects on nav bar
  &-bio:hover,
  &-shows:hover {
    border-bottom: 5px solid $white;
  }

  a:hover,
  a:active,
  a:visited {
    color: $white;
  }
}

// Now to make it tablet friendly
@media screen and (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    align-items: center;

    &-logo {
      padding-left: 24px;
      align-items: center;
      padding-top: 0px;
    }
    &-items {
      justify-content: flex-start;
      align-self: center;
    }
    &-bio,
    &-shows {
      padding-bottom: 1.5em;
      align-self: center;
      padding: 1.75em 0;
      width: auto;
      margin-left: 48px;
    }
  }
}

// Now to make it desktop friendly
@media screen and (min-width: 1440px) {
  .nav__container {
    flex-direction: row;
    align-items: center;

    &-logo {
      padding-left: 180px;

      align-self: center;
    }
    &-items {
      justify-content: flex-start;
    }
    &-bio,
    &-shows {
      padding-bottom: 1.5em;
      align-self: center;
      padding: 1.75em 0;
      width: auto;
      margin-left: 56px;
    }
  }
}

// This mixin will help to stay DRY for Mobile-Hero
@mixin font__line__avenir($font, $line, $Avenir) {
  font-size: $font;
  line-height: $line;
  font-family: $Avenir;
  margin-left: 16px;
  margin-right: 16px;
  color: $white;
}

.hero {
  height: 472px;
  width: 100%;
  // background-image: url("/sprint-2/assets/images/unsplash.jpg");
  background-image: url("../assets/images/unsplash.jpg");

  // This will make the background image to stretch and cover the full area
  background-size: 100% 100%;
  display: flex;
  background-repeat: no-repeat;

  &__text-small {
    @include font__line__avenir(14px, 22px, AvenirDemi);
    padding-top: 64px;
  }

  &__text-big {
    @include font__line__avenir(24px, 32px, AvenirBold);
    padding-bottom: 64px;
  }

  &__song {
    margin-left: 16px;
    height: 80px;
  }
}

// Hero on TABLET
@media screen and (min-width: 768px) {
  .hero {
    height: 670px;

    &__text {
      margin-right: 24px;
      margin-left: 24px;

      &-small {
        @include font__line__avenir(24px, 32px, AvenirDemi);
        padding-top: 96px;
        padding-bottom: 60px;
      }

      &-big {
        @include font__line__avenir(60px, 68px, AvenirBold);
      }
    }

    &__song {
      margin-left: 24px;
    }
  }
}

// Hero on DESKTOP
@media screen and (min-width: 1440px) {
  .hero {
    height: 670px;

    &__text {
      margin-right: 180px;
      margin-left: 180px;

      &-small {
        @include font__line__avenir(24px, 32px, AvenirDemi);
        padding-top: 96px;
        padding-bottom: 60px;
      }

      &-big {
        @include font__line__avenir(60px, 68px, AvenirBold);
        padding-bottom: 0px;
      }
    }

    &__song {
      width: 436px;
      height: 146px;
      margin-left: 64px;
    }
  }

  .hero__box {
    display: flex;
    align-items: center;
  }
}

// Shows section on MOBILE
.shows {
  margin-right: 16px;
  margin-left: 16px;

  &__title {
    font-family: AvenirBold;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
    margin-left: 16px;
  }
}

// Shows on TABLET
@media screen and (min-width: 768px) {
  .shows {
    margin-right: 24px;
    margin-left: 24px;

    &__title {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .divider {
    border-bottom: 1px solid $silver;
  }
}

// Shows on DESKTOP
@media screen and (min-width: 1440px) {
  .shows {
    margin-right: 180px;
    margin-left: 180px;

    &__title {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 0;
      margin-bottom: 0px;
      margin-top: 48px;
    }
  }

  .divider {
    border-bottom: 1px solid $silver;
  }
  .shows__table {
    padding-left: 304px;
  }
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  padding-left: 360px;
}

table th,
table td {
  padding: 16px;
  text-align: center;
  padding-bottom: 24px;
  font-family: AvenirDemi;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.show__columns {
  color: $silver;
}

.show__venue,
.show__location {
  font-family: AvenirRegular;
}

data-label {
  color: $silver;
}

button {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $black;
  font-size: 12px;
  line-height: 20px;
  color: $white;
  font-family: AvenirDemi;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

// on MOBILE
@media screen and (max-width: 767px) {
  table thead {
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }

  table td {
    display: block;
    text-align: left;
    padding-bottom: 24px;
    font-family: AvenirDemi;
    font-size: 12px;
    line-height: 20px;
  }

  .show__venue,
  .show__location {
    font-family: AvenirRegular;
  }

  // ::before is called a pseudo-element used to insert elements before the content
  table td::before {
    content: attr(data-label);
    display: block;
    padding-bottom: 16px;
    color: $silver;
    font-family: AvenirDemi;
    font-size: 12px;
    line-height: 20px;
  }

  button {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $black;
    font-size: 12px;
    line-height: 20px;
    color: $white;
    font-family: AvenirDemi;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }

  .divider {
    border-bottom: 1px solid $silver;
  }
}

// footer on MOBILE, note that mobile version doesn't include logo on footer

footer {
  background: $black;
  font-family: AvenirRegular;
}

.social {
  margin-left: 15px;
  margin-right: 15px;

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirBold;
    color: $white;
    padding-top: 60px;
  }

  &__icons {
    padding-top: 32px;

    &-instagram {
      margin-right: 20px;
    }

    &-facebook {
      margin-right: 20px;
    }
  }

  // This is to hide the logo on mobile
  &__logo {
    visibility: hidden;
  }
}

// footer on TABLET
@media screen and (min-width: 768px) {
  .social {
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;

    &__title {
      font-size: 36px;
      line-height: 44px;
      padding-top: 60px;
    }

    &__icons {
      padding-top: 60px;

      &-instagram {
        margin-left: 48px;
      }

      &-facebook {
        margin-left: 30px;
      }
      &-twitter {
        margin-left: 24px;
      }
    }
    &__logo {
      // Now to make the logo appear
      visibility: visible;
      margin-left: 180px;
      padding-top: 60px;
    }
  }
}

// footer on DESKTOP
@media screen and (min-width: 1440px) {
  .social {
    display: flex;
    align-items: center;
    margin-right: 180px;
    margin-left: 180px;

    &__title {
      font-size: 36px;
      line-height: 44px;
      padding-top: 48px;
    }

    &__icons {
      padding-top: 48px;

      &-instagram {
        margin-left: 48px;
      }

      &-facebook {
        margin-left: 32px;
      }
      &-twitter {
        margin-left: 32px;
      }
    }
    &__logo {
      visibility: visible;
      display: flex;
      margin-left: 530px;
      padding-top: 48px;
    }
  }
}

// Contact for MOBILE
.contact {
  font-family: AvenirRegular;
  margin: 20px 16px 0px 16px;
  color: $mercury;
  font-size: 13px;
  line-height: 18px;

  &__name,
  &__title {
    font-family: AvenirDemi;
    color: $white;
  }

  &__title {
    padding-bottom: 25px;
  }
  &__location {
    padding-bottom: 25px;
  }

  &__email {
    padding-bottom: 32px;
    text-decoration: none;
    color: $white;
  }
}
.copyright {
  font-family: AvenirRegular;
  margin: 0px 16px;
  color: $mercury;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 40px;
}

// Contact for TABLET
@media screen and (min-width: 768px) {
  .contact {
    margin: 40px 24px;
    font-size: 14px;
    line-height: 20px;
    display: flex;

    &__title {
      padding-bottom: 28px;
    }
    &__location {
      padding-bottom: 28px;
    }

    &__email {
      padding-bottom: 32px;
    }

    &__one {
      margin-right: 24px;
    }
    &__two {
      margin-right: 50px;
    }
  }
  .copyright {
    margin-left: 24px;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 40px;
    padding-top: 0px;

    // This is to put the paragraphs on the same line
    display: flex;
    &__flex {
      padding-left: 5px;
    }
  }
}

// Contact for DESKTOP
@media screen and (min-width: 1440px) {
  .contact {
    margin-top: 56px;
    margin-right: 180px;
    margin-left: 180px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    display: flex;

    &__title {
      margin-right: 48px;
      padding-bottom: 24px;
    }
    &__email {
      padding-bottom: 40px;
    }

    &__one {
      margin-right: 50px;
    }
    &__two {
      margin-right: 72px;
    }
  }

  .copyright {
    margin-left: 180px;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 48px;
  }
}
